<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"
        android:usesCleartextTraffic="true">
        <activity android:name=".SymptomInfo"></activity>
        <activity android:name=".MucusInfo" />
        <activity android:name=".sleep_mod_reminder" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".SignUp" />
        <activity android:name=".basic_information_page" />
        <activity android:name=".HospitalModReminderActivity" />
        <activity android:name=".Selftest_main" />
        <activity android:name=".Selftest1" />
        <activity android:name=".Selftest0" />
        <activity android:name=".Selftest2" />
        <activity android:name=".Selftest3" />
        <activity android:name=".Selftest4" />
        <activity android:name=".Selftest5" />
        <activity android:name=".SelftestResult" />
        <activity android:name=".pills_mod_reminder" />
        <activity android:name=".water_mod_reminder" />
        <activity android:name=".exercise_mode_reminder" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".graph" />
    </application>

</manifest>